---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ 'css/index.css' | relative_url }}">
</head>
<div class='container'>
  <header class="masthead text-center">
    <div class="container_ps">
      <div class="text-section">
        <h2 style="font-size: 2.3rem;">
          Welcome to the <span class="highlight" style="color: #D3756B ;">CSNLab</span>!
        </h2>
        <p>
          Welcome to CSNLab, where we focus on three key research areas:
          next-generation <a href="javascript:void(0);" data-index="0" style="color: #D3756B;"
            onclick="navigateToSection(this)">Computer Architecture</a>, with emphasis on deep learning accelerators
          and
          memory systems;
          high-performance <a href="javascript:void(0);" data-index="1" style="color: #D3756B;"
            onclick="navigateToSection(this)">Interconnection Networks</a>, particularly Network-on-Chip designs for
          heterogeneous systems; and
          <a href="javascript:void(0);" data-index="2" style="color: #D3756B;"
            onclick="navigateToSection(this)">Hardware Security</a>, investigating micro-architectural vulnerabilities
          in GPU and NUMA architectures. Join us in advancing computing systems!
        </p>
      </div>
      <div class="image-section">
        <img src="/images/people/Members1.jpg" alt="Lab Group Photo">
      </div>
    </div>
  </header>
</div>
<div class='container' style=" background-color:#e1e1e1;">
  <div class="news-section" style=" background-color:#e1e1e1;margin-top: 40px;">
    <h2 style="margin-bottom: 40px;">Recent News</h2>
    <div class="news-cards">
      {% capture now %}{{ 'now' | date: '%s' | minus: 23328000 }}{% endcapture %}
      {% for new in site.data.news %}
      {% capture date %}{{ new.date | date: '%s' | plus: 0 }}{% endcapture %}
      {% if date > now %}
      <div class="news-card"
        style="border: 1px solid #efc7c7; border-radius: 10px; padding: 15px; margin-bottom: 15px;">
        <!-- News type badge -->
        <!-- News title -->
        <h4 style="margin: 0; font-size: 0.8rem; color: #353535;">{{ new.title }}</h4>
        <!-- News date -->
        <p style="font-size: 0.4rem; color: #555; margin: 5px 0;">
          {{ new.date | date: '%b %d, %Y' }} <span class="news-type {{ new.type }}">
          </span>
        </p>

        <!-- News details -->
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="see-more-container">
      <a href="/news" class="see-more-btn" style="color:#D3756B;">Details and more </a>
    </div>
  </div>
</div>
<div class='container' style=" background-color:#e1e1e1">
  <div class="Contact " style="margin-top:8px;">
    <h2>Contact us</h2>
    <p>Phone : +82-42-350-7548<br>

      Fax : +82-42-350-3510<br>

      E-mail : icnee@kaist.ac.kr (Lab)<br>

      jjk12@kaist.ac.kr (Professor)<br>
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9908.31324711228!2d127.36348022969105!3d36.37595693599716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35654bcb6deebfb5%3A0x905962e9ba4daa68!2zS0FJU1Qg6rmA67OR7Zi444aN6rmA7IK87Je0IElU7Jy17ZWpIOu5jOuUqShOMSk!5e0!3m2!1sen!2skr!4v1736749657733!5m2!1sen!2skr"
      width="40%" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <p style="display: block; margin-bottom: 1em;text-align: center;">
    CSNLab,Department of Electrical Engineering,<br>
    KAIST, Republic of Korea.</p>
</div>