---
layout: default
title: Publications
permalink: /publications/
---


<div class="publications">
    <h1>{{ page.title }}</h1>
    <ul class="publication-list">
        {% for pub in site.data.publications %}
        <li class="publication-item">
            <div class="publication-info">
                <h2>{{ pub.title }}</h2>
                <p><strong>{{ pub.conference }}</strong>, {{ pub.location }}</p>
                <p>Authors: {{ pub.authors }}</p>
            </div>
            <div class="publication-buttons">
                {% if pub.pdf %}
                <a href="{{ pub.pdf }}" class="btn pdf-btn" target="_blank">PDF</a>
                {% endif %}
                {% if pub.pre %}
                <a href="{{ pub.pre }}" class="btn pre-btn" target="_blank">Pre</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>